* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Caveat', cursive;
    scroll-behavior: smooth;
}

.navbar {
    background: #34008745;
    background-repeat: repeat;
    background-color: #160139;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: #ae0671;
    background-image: linear-gradient(to top,
            #be1982 0%,
            #b88fba 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    displaY: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;

}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #833ab4;
    background: -webkit-linear-gradient(to right,
            #fcb045,
            #fd1d1d,
            #833ab4);
    background: linear-gradient(to right,
            #fcb045,
            #fd1d1d,
            #833ab4);
    color: #fff;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color: #ff05ff;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
    }

    .navbar__menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* Hero */
.hero {
    background: #00000000;
    background-color: #131313;
    padding: 200px 0;
    background-image: url('Eddie.jpg');
}

.hero__container {
    display: flex;
    flex-direction: grid;
    grid-template-columns: 1fr;
    justify-self: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: right;
    padding: 70px;
}

.hero__heading {
    font-size: 110px;
    margin-bottom: 24px;
    color: #fff;
}

.hero__heading span {
    background: -webkit-linear-gradient(to top,
        #ff4cf0 0%,
        #23003a 75%
        );
    background: linear-gradient(to top,
        #ff4cf0 0%,
        #23003a 75%
        );
    font-family: 'Cedarville Cursive', cursive;
    font-weight: 700;
    background-size: 100%;
    font-size: 50px;
    margin: 0 75px;
    top: 0;
    padding: 0 100px;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.hero__heading h1 {
    text-align: right;
}

.highlight {
    border-bottom: 4px solid rgb(132, 0, 255);
}

.hero__container img {
    display: flex;
    padding: 20px 10px;
    width: 75%;
    height: 75%;
    background-color: #131313;
    margin-left: 10px
}

@media screen and (max-width: 768px) {
    .hero__heading {
        font-size: 80px;
    }

    .hero__description {
        font-size: 40px;
    }
}

/* About */
.main {
    background-color: #131313;
    padding: 10rem 0;
}

.main__container {
    display: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main__content {
    color: #fff;
    width: 100%;
}

.main__content h1 {
    font-size: 2rem;
    background-color: #023b14;
    background-image: linear-gradient(to top,
            #dfd412 0%,
            #852508 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.main__content h2 {
    font-size: 2.2rem;
    background: -webkit-linear-gradient(to top,
            #b78d03 25%,
            #cfcf1f 100%);
    background: linear-gradient(to top,
            #b78d03 25%,
            #cfcf1f 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
}

.fa-layer-group,
.fa-users {
    font-size: 14rem;
}

#card-2 {
    background: #ff1435;
    background: -webkit-linear-gradient(to right,
            #fc6781,
            #6d0661);
    background: linear-gradient(to right,
            #023b14,
            #9581fc);
}

/* Mobile Responsive */
@media screen and (max-width: 1100px) {
    .main__container {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        height: 90%;
    }

    .main__img--container {
        display: flex;
        justify-content: center;
    }

    .main__img--card {
        height: 425px;
        width: 425px;
    }

    .main__content {
        text-align: center;
        margin-bottom: 4rem;
    }

    .main__content h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .main__content h2 {
        font-size: 3rem;
    }

    .main__content p {
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 480px) {
    .main__img--card {
        width: 250px;
        height: 250px;
    }

    .fa-users, .fa-layer-group {
        font-size: 4rem;
    }

    .main__content h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }

    .main__content h2 {
        font-size: 2rem;
    }

    .main__content p {
        margin-top: 2rem;
        font-size: 1.5rem;
    }

    .main__btn {
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
}

/* Services */
.services {
    background: #131313;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10rem 0;
}

.services h1 {
    background-color: #4f0e0e;
    background-image: linear-gradient(
        to top,
        #7c1717 0%,
        #2b10a3 100%
        );
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-bottom: 5rem;
    font-size: 2.5rem;
}

.services__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.services__card {
    margin: 10px;
    height: 425px;
    width: 300px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-image: linear-gradient(
        to right,
        #00dbdb 0%,
        #fc00ff 100%
        );
    transition: 0.3s ease-in;
}

.services__card:nth-child(2) {
    background: #fff;
    background: -webkit-linear-gradient(
        to right,
        #fc00ff,
        #cfcf1f,
        #00dbdb
    );
    background: linear-gradient(
        to right, 
        #7c1717,
        #2b10a3,
        #00dbdb
    );
}

.services__card:nth-child(3) {
    background: #fff;
    background: -webkit-linear-gradient(
        to right,
        #fc00ff,
        #cfcf1f,
        #00dbdb
    );
    background: linear-gradient(
        to right, 
        #177c54,
        #241272,
        #4f0e0e
    );
}

.services__card h2 {
    text-align: center;
}

.services__card p {
    text-align: center;
    margin-top: 24px;
    font-size: 20px;
}

.services__btn {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.services__card button {
    color: #fff;
    padding: 14px 24px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #131313;
    font-size: 1rem;
}

.services__card button:hover {
    cursor: pointer;
}

.services__card:hover {
    transform: scale(1.075);
    transition: 0.3s ease-in;
    cursor: pointer;
}

@media screen and (max-width: 1300px) {
    .services__wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 760px) {
    .services__wrapper {
        grid-template-columns: 1fr;
    }
}

/* Footer */
.footer__container {
    background-color: #131313;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer__logo {
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.footer__links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer__link--wrapper {
    display: flex;
}

.footer__link--items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}

.footer__link--items h2 {
    margin-bottom: 16px;
    color: #fff;
}

.footer__link--items a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer__link--items a:hover {
    color: #e9e9e9;
    transition: 0.3s ease-out;
}

.social__icon--link {
    color: #fff;
    font-size: 24px;
}

.social__media {
    max-width: 1000px;
    width: 100%;
}

.social__media--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

.social__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}

.website__rights {
    color: #fff;
}

@media screen and (max-width: 820px) {
    .footer__links {
        padding-top: 2rem;
    }

    #footer__logo {
        margin-bottom: 2rem;
    }

    .website__rights {
        margin-bottom: 2rem;
    }

    .footer__link--wrapper {
        flex-direction: column;
    }

    .social__media--wrap {
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    .footer__link--items {
        margin: 0;
        padding: 10px;
        width: 100%;
    }
}
